proxy:
  host: 127.0.0.1
  port: 8080

vpn:
  subnet: 10.13.37.0/24
  server_ip: 10.13.37.1
  listen_port: 51820

docker:
  image_name: qwikcap-wg
  container_name: qwikcap-vpn

# Hosts that bypass Burp and connect directly (cert-pinned system services).
# Exact hostname or leading-dot suffix (.apple.com matches all subdomains).
exceptions:
  # Apple Push Notification Service
  - .push.apple.com
  # Apple ID / iCloud auth
  - identity.apple.com
  - setup.icloud.com
  - idmsa.apple.com
  # iCloud Private Relay (iOS 15+)
  - mask.icloud.com
  - mask-h2.icloud.com
  - mask-api.icloud.com
  # Location services
  - gsp-ssl.ls.apple.com
  - gspe1-ssl.ls.apple.com
  - gspe3-ssl.ls.apple.com
  - gspe7-ssl.ls.apple.com
  - gspe11-ssl.ls.apple.com
  - gspe15-ssl.ls.apple.com
  - gspe21-ssl.ls.apple.com
  - gspe35-ssl.ls.apple.com
  - gsp64-ssl.ls.apple.com
  # Captive portal check
  - captive.apple.com
  # OCSP / certificate validation
  - ocsp.apple.com
  - ocsp2.apple.com
  - valid.apple.com
  - csp.apple.com
  # iMessage / FaceTime
  - query.ess.apple.com
  - init.ess.apple.com
  - id.apple.com
  # App Attest / DeviceCheck
  - data.appattest.apple.com
  - api.devicecheck.apple.com
  # App Store / provisioning
  - ppq.apple.com
  - bag.itunes.apple.com
  - xp.apple.com
  # Software updates
  - mesu.apple.com
  - gdmf.apple.com
  - xprotect.apple.com
  # Siri
  - guzzoni.apple.com
  - .siri.apple.com
  # Apple analytics
  - ca.csp.apple.com
  - pancake.apple.com
  # FCM / GCM (Android push)
  - mtalk.google.com
  - alt1-mtalk.google.com
  - alt2-mtalk.google.com
  - alt3-mtalk.google.com
  - alt4-mtalk.google.com
  - alt5-mtalk.google.com
  - alt6-mtalk.google.com
  - alt7-mtalk.google.com
  - alt8-mtalk.google.com
  - fcm.googleapis.com
  - fcm-xmpp.googleapis.com
  # Google Play / Android services
  - android.clients.google.com
  - play.google.com
  # Android connectivity probes
  - connectivitycheck.gstatic.com
  - connectivitycheck.android.com
  - clients1.google.com
  - clients3.google.com
  # Play Integrity / SafetyNet
  - attest.android.com
  - www.googleapis.com
  # Certificate Transparency
  - ct.googleapis.com
  # Google DNS-over-HTTPS
  - dns.google
